<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="2">
  <section id="general">
    <category id="general" label="Settings">
      <group id="1" label="Translation">

        <setting id="target_language" type="string" label="Default target language">
          <default>en</default>
        </setting>

        <setting id="auto_load" type="string" label="Auto-load translated subtitle into player">
          <default>true</default>
        </setting>

        <setting id="output_suffix" type="string" label="Output file suffix">
          <default>_translated</default>
        </setting>

      </group>
    </category>
  </section>
</settings>
